body {
    background: linear-gradient(-100deg, #B5EAEA, #007d90);
    font-family: "Ubuntu";
}

.header {
    padding: 20px;
    text-align: right;
    background: #11725f;
    color: white;
    font-size: 30px;
    display: flex;
    border-radius: 10px;
}

p {
    text-align: center;
    color: #000e47;
}

h1 {
    text-align: center;
    color: #000e47;
}

table {
    width: 100%;
    background: linear-gradient(100deg, #B5EAEA, #02b6d2);
}

table, th, td {
    border: 1px solid;
}

.text-right {
    text-align: right;
}