body {
    background: linear-gradient(-100deg, #B5EAEA, #007d90);
    font-family: "Ubuntu";
}

input[type=text], select {
    width: 100%;
    padding: 12px 2px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #092834;
}

.header {
    padding: 20px;
    font-size: 30px;
    display: flex;
    border-radius: 10px;
    background: #11725f;
    text-align: right;
    color: white;
    
}
  
input[type=submit] {
    background-color: #0e6f9f;
    color: aliceblue;
    border: none;
    border-radius: 4px;
    padding: 10px 18px;
    width: 100%;
    margin: 7px 0px;
}
  
input[type=submit]:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
  
div {
    border-radius: 7px;
    background: linear-gradient(100deg, #B5EAEA, #007d90);
    padding: 40px;
}